@{
    ViewData["Title"] = "Lector";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Roles</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Roles</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header bg-primary">
            <h3 class="card-title">Agregar Rol&nbsp&nbsp</h3><a data-toggle="modal" data-target="#AdRol" role="button"><i class="fas fa-plus-circle"></i></a>
        </div>
        <div class="card-body row">
            <div class="table-responsive px-2">
               <div class="row justify-content-center align-items-center minh=100">@ViewBag.msg</div>
                <table id="tbl" class="table-bordered table-striped table-sm" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Rol</th>
                            <th>Descripción</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @while (ViewBag.query.Read())
                        {
                            <tr>
                                <td>@ViewBag.query.GetValue(ViewBag.query.GetOrdinal("rol"))</td>
                                <td>@ViewBag.query.GetValue(ViewBag.query.GetOrdinal("descripcion"))</td>
                                <td style="text-align:center"><a class="btn btn-outline-primary btn-xs" data-toggle="modal" data-target="#ModRol" role="button" onclick="modRol()" data-placement="top" title="Modificar datos" style="width:25px"><i class="fas fa-pen"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @{
                    ViewBag.query.Close();
                }
            </div>
        </div>
        </div>
    </div>
</section>



<div class="modal fade" id="AdRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" asp-controller="Mantenimiento" asp-action="AgregarRol">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Rol</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Campos -->
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="rol">Rol</label>
                                <input autofocus class="form-control" id="rol" name="rol" type="text" style="text-transform: lowercase;" placeholder="ejemplo: Bibliotecario" required />
                            </div>
                            <div class="col-md-6">
                                <label for="descripcion">Descripción</label>
                                <input class="form-control" id="descripcion" name="descripcion" type="text" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Modal para modificar los datos de un usuario desde Usuario Administrador -->
<div class="modal fade" id="ModRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <form method="POST" asp-controller="Mantenimiento" asp-action="ModRol">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title">Modificar rol</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Campos -->
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <label for="password_r">Rol</label>
                                <input autofocus class="form-control" id="m_rol" name="m_rol" type="text" required />
                            </div>
                            <div class="col-md-12">
                                <label for="password_r">Descripcion</label>
                                <input autofocus class="form-control" id="m_descripcion" name="m_descripcion" type="text" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Modificar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
                <input type="hidden" name="m_id_rol" id="m_id_rol" />

            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/js/dataTable.js"></script>
    <script src="~/js/ajaxMantenimiento.js"></script>

    <script>

        function cargarDetalleRol(id_rol) {
            // Hacer una llamada AJAX para obtener los detalles del usuario
            $.ajax({
                url: '@Url.Action("ObtenerRol", "Mantenimiento")',
                type: 'GET',
                data: { tabla: 'rol', id: id_rol },
                success: function (data) {
                    // Rellenar los campos del modal con los datos del usuario
                    $('#m_rol').val(data.rol);
                    $('#m_descripcion').val(data.descripcion);

                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }

            });
        }

    </script>
}